<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pocket_library_list">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pocket_Library_List.NoActionBar">
        <activity android:name=".LogInScreen"/>
        <activity android:name=".MainMenu"/>

        <activity android:name="shelf.BookStatusSelect"/>
        <activity android:name="shelf.Read"/>
        <activity android:name="shelf.CurrentlyReading"/>
        <activity android:name="shelf.ToRead"/>

        <activity android:name="adding_books.AddBookMenu"/>
        <activity android:name="adding_books.Manual"/>
        <activity android:name="adding_books.Camera"
            android:screenOrientation="portrait" />

        <activity android:name=".Delete"/>

        <activity android:name="book_genre.GenreMenu"/>
        <activity android:name="book_genre.ReadGenre"/>
        <activity android:name="book_genre.CurrentlyReadingGenre"/>
        <activity android:name="book_genre.ToReadGenre"/>
        <activity android:name="book_genre.SelectedGenreBooks"/>


        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision"
            android:value=""/>


    </application>

</manifest>