<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pocket_library_list">

    <!-- USER PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pocket_Library_List.NoActionBar"
        android:label="Pocket Library List">

        <!-- Strings used for fragments for navigation -->
        <activity android:name=".LogInScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainMenu"
            android:screenOrientation="portrait"/>

        <activity android:name="bookshelf.BookshelfMenu"
            android:screenOrientation="portrait"/>
        <activity android:name="bookshelf.Read"
            android:screenOrientation="portrait"/>
        <activity android:name="bookshelf.CurrentlyReading"
            android:screenOrientation="portrait"/>
        <activity android:name="bookshelf.ToRead"
            android:screenOrientation="portrait"/>

        <activity android:name="adding_books.AddBookMenu"/>
        <activity android:name="adding_books.Manual"/>
        <activity android:name="adding_books.Camera"
            android:screenOrientation="portrait" />
        <activity android:name=".Delete"
            android:screenOrientation="portrait"/>

        <activity android:name="book_categories.CatMenu"
            android:screenOrientation="portrait"/>
        <activity android:name="book_categories.ReadCat"
            android:screenOrientation="portrait"/>
        <activity android:name="book_categories.CurrentlyReadingCat"
            android:screenOrientation="portrait"/>
        <activity android:name="book_categories.ToReadCat"
            android:screenOrientation="portrait"/>
        <activity android:name="book_categories.SelectedCatBooks"
            android:screenOrientation="portrait"/>

        <activity android:name=".Stats"
            android:screenOrientation="portrait"/>


        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision"
            android:value=""/>


    </application>

</manifest>